@import "var.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  color: #fff;
  min-height: 100vh;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
p,
li {
  font-size: var(--p);
}

h1,
h2,
h3,
h4,
h5,
p,
li {
  text-align: center;
  font-family: var(--main-font);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px;
  transition: all 0.5s;
  z-index: 1;
}

header.nav {
  padding: 5px 100px;
  background-color: rgba(255, 255, 255, 0.8);
}

header.sticky .logo,
header.sticky li a {
  color: #151515;
}

.logo {
  color: #151515;
  position: relative;
  text-decoration: none;
  transition: all 0.5s;
}

.nav-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list li {
  position: relative;
  list-style: none;
}

.nav-list li a {
  color: #151515;
  position: relative;
  padding: 0 30px;
  text-decoration: none;
  transition: all 0.5s;
}
.nav-list li a:hover {
  color: #a1a1a1;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.lightblue {
  background-color: #c7eeff;
  color: #151515;
}
.lightpink {
  background-color: #ffbdbd;
  color: #151515;
}

/*shapedivider.app*/
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 130px;
}

.wave .shape-fill {
  fill: #c7eeff;
}

/*haikei.app*/
.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer {
  background-image: url("/waves.svg");
}
