@import "var.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #151515;
  color: #fff;
  min-height: 200vh;
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
p,
li {
  font-size: var(--p);
}

h1,
h2,
h3,
h4,
h5,
p,
li {
  text-align: center;
  font-family: var(--main-font);
}
