* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: white;
  margin-top: 2rem;
}

h1 {
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  overflow: hidden;
  padding: 0 3rem 0 3rem;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown:hover {
  color: red;
}

.content {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: none;
}

.content li {
  display: block;
  text-align: center;
}

.content li:hover {
  color: red;
}

.nav-list:hover ~ .content {
  display: block;
}
